{% extends "base.html" %} {% block title %}Destinations{% endblock %} {% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Travel Destinations</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                {% for destination in destinations %}
                <tr>
                    <td>{{ destination.name }}</td>
                    <td>{{ destination.description }}</td>
                    <td>{{ destination.location }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}